.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
  input,
  textarea {
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
  }
  textarea {
    height: 150px;
  }
  select {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
  }
  button {
    width: 500px;
    padding: 10px;
    cursor: pointer;
  }
}

/* List */
.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
  h2 {
    text-align: center;
  }
}

/* Item */
.DiaryItem {
  background-color: rgba(240, 240, 240, 0.8);
  margin-bottom: 10px;
  padding: 20px;
  .info {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .date {
    color: gray;
  }
  .content {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
